@model ASP.NetCV.Models.Entities.ResumeBackground

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ResumeBackground</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpierenceName" class="control-label"></label>
                <input asp-for="ExpierenceName" class="form-control" />
                <span asp-validation-for="ExpierenceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpirenceWork" class="control-label"></label>
                <input asp-for="ExpirenceWork" class="form-control" />
                <span asp-validation-for="ExpirenceWork" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpirenceLocation" class="control-label"></label>
                <input asp-for="ExpirenceLocation" class="form-control" />
                <span asp-validation-for="ExpirenceLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpierenceDesc" class="control-label"></label>
                <input asp-for="ExpierenceDesc" class="form-control" />
                <span asp-validation-for="ExpierenceDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatByUserId" class="control-label"></label>
                <input asp-for="CreatByUserId" class="form-control" />
                <span asp-validation-for="CreatByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatDate" class="control-label"></label>
                <input asp-for="CreatDate" class="form-control" />
                <span asp-validation-for="CreatDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedByUserID" class="control-label"></label>
                <input asp-for="DeletedByUserID" class="form-control" />
                <span asp-validation-for="DeletedByUserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedDate" class="control-label"></label>
                <input asp-for="DeletedDate" class="form-control" />
                <span asp-validation-for="DeletedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

