@model ContactPost
@{
    ViewData["Title"] = "Contact";
}






<!-- NAV LINKS -->
<!-- NAV LINKS END -->

<div class="col-md-8">
    <div class="inside-sec">
        <!-- BIO AND SKILLS -->
        <h5 class="tittle">CONATCT ME</h5>

        <!-- Conatct Pages  -->
        <section>
            <div class="padding-left-30 padding-right-30 padding-top-50 padding-bottom-50">
                <div class="row ">
                    <!-- Phone Number  -->
                    <div class="col-md-4 text-center">
                        <div class="icon-box ib-style-1 ib-circle ib-bordered ib-bordered-white ib-bordered-thin ib-medium ib-text-alt i-xlarge dark-text">
                            <div class="ib-icon"> <i class="fa fa-mobile text-primary"></i> </div>
                            <div class="ib-info text-dark">
                                <p>+61 3 8376 6284</p>
                                <p>+61 3 8376 6284</p>
                            </div>
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="col-md-4 text-center">
                        <div class="icon-box ib-style-1 ib-circle ib-bordered ib-bordered-white ib-bordered-thin ib-medium ib-text-alt i-large">
                            <div class="ib-icon"> <i class="fa fa-map-marker text-primary"></i> </div>
                            <div class="ib-info text-dark">
                                <p>PO Box 21177 Litte Lonsdale St, Melbourne Victoria 8011 Australia</p>
                            </div>
                        </div>
                    </div>

                    <!-- Email  -->
                    <div class="col-md-4 text-center">
                        <div class="icon-box ib-style-1 ib-circle ib-bordered ib-bordered-white ib-bordered-thin ib-medium ib-text-alt i-large">
                            <div class="ib-icon"> <i class="fa fa-envelope-o text-primary"></i> </div>
                            <div class="ib-info text-dark">
                                <p class="no-margin-bottom"><a href="#." class="text-white">support@yourcompany.com</a></p>
                                <p class="no-margin-bottom"><a href="#." class="text-white">support@yourcompany.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- MAP -->
            <section class="map-block">
                <div class="map-wrapper" id="map-canvas" data-lat="-37.814199" data-lng="144.961560" data-zoom="13" data-style="1"></div>
                <div class="markers-wrapper addresses-block"> <a class="marker" data-rel="map-canvas" data-lat="-37.814199" data-lng="144.961560" data-string="Envato"></a> </div>
            </section>

            <!-- Contact  -->
            <h5 class="tittle">SAY HELLO</h5>
            <div class="contact style-3 light-border padding-top-50 padding-bottom-50 padding-left-20 padding-right-20">

                <!-- Form  -->
                <div class="contact-right">
                    <!-- Success Msg -->
                    <div id="contact_message" class="success-msg"> <i class="fa fa-paper-plane-o"></i>Thank You. Your Message has been Submitted</div>

                    <!-- FORM -->
                    <form role="form" id="contact" class="contact-form" method="post">
                        <ul class="row">
                            <li class="col-sm-4">
                                <label>
                                    <input class="form-control"
                                           asp-for="Name"
                                           data-rule-required="true"
                                           data-msg-required="Bosh buraxmayin"
                                           placeholder="NAME">
                                </label>
                            </li>
                            <li class="col-sm-4">
                                <label>
                                    <input class="form-control"
                                           asp-for="Email"
                                           data-rule-required="true"
                                           data-msg-required="Bosh buraxmayin"
                                           data-rule-email="true"
                                           data-msg-email="Email daxil edin"
                                           placeholder="EMAIL">
                                </label>
                            </li>
                            <li class="col-sm-4">
                                <label>
                                    <input class="form-control"
                                           asp-for="Subject"
                                           data-rule-required="true"
                                           data-msg-required="Bosh buraxmayin"
                                           placeholder="SUBJECT">
                                </label>
                            </li>
                            <li class="col-sm-12">
                                <label>
                                    <textarea class="form-control"
                                              asp-for="Content"
                                              data-rule-required="true"
                                              data-msg-required="Bosh buraxmayin"
                                              rows="5"
                                              placeholder="CONTENT..."></textarea>
                                </label>
                            </li>
                            <li class="col-sm-12">
                                <button type="submit" value="submit" id="btn_submit" onClick="proceed();">SEND ME</button>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
@section addcss{
    
    <link href="~/libs/toastr.js/toastr.css" rel="stylesheet" />
    <style>
        .is-invalid {
            color: #dc3545;
            border: 1px solid #dc3545;
        }

            .is-invalid + span.error {
                color: #dc3545;
                font-size: 1rem;
                margin-left: 4px;
            }

        .is-valid {
            border: 1px solid teal;
        }
    </style>
        }
   
    @section addjs{
        <script src="~/libs/jquery-validate/jquery.validate.js"></script>
        <script src="~/libs/toastr.js/toastr.min.js"></script>
        @*<script src="~/libs/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@

        <script>
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": true,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };





            $(document).ready(function () {
                $("[data-val='true']").each(function (index, item) {
                    $(item).removeAttr("data-val");
                    let value = $(item).data('val-required');
                    if (value != undefined && value.length > 0) {
                        $(item).removeAttr('data-val-required');
                        $(item).attr('data-val-required', true)
                        $(item).attr('data-msg-required', value)
                    }

                    value = $(item).data('val-email');
                    if (value != undefined && value.length > 0) {
                        $(item).removeAttr('data-val-email');
                        $(item).attr('data-val-email', true)
                        $(item).attr('data-msg-email', value)
                    }
                });
                $('#contact')
                    .submit(function (e) {
                        e.preventDefault();

                        const isValid = $(e.currentTarget).valid();

                        if (isValid != true) {
                            return;
                        }
                        const formData = new FormData(e.currentTarget)

                        $.ajax({
                            url: '',
                            type: 'POST',
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                if (response.error == false) {
                                    toastr.success(response.message, "Ugurludur")
                                    e.currentTarget.reset();
                                    $(e.currentTarget).find('.is-valid').removeClass('.is-valid')
                                }
                                else {
                                    toastr.error(response.message, "Ugursuzdur")
                                }
                            },
                            error: function (response) {
                                toastr.success('Teyin edilmeyen xeta', 'Xeta')


                            }
                        });

                    })
                    .validate({
                        errorElement: 'span',
                        highlight: function (element, errorClass, validClass) {
                            $(element).addClass('is-invalid').removeClass('is-valid')
                        },
                        unhighlight: function (element, errorClass, validClass) {
                            $(element).addClass('is-valid').removeClass('is-invalid')
                        }

                    });

            });


        </script>
    }